:host {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}



.row1{
  margin-top: 100px;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  margin-bottom: 100px;
}

.row2{
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.descriptionContainer{
  text-align: left;
}

.title{
  font-weight: bold;
  font-size: 150%;
  color: rgb(8, 14, 34);
}

.subcontainer{
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
}

.subContainerImage{
  max-width: 200px;
}